<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
        <th>Doctor</th>
        <th>Date</th>
        <th>Location</th>
        <th>Status</th>
    </thead>
    {% for o in object_list %}

    <tr>
       <td> <a href={% url 'doctorprofile' o.doctor.id %}> {{ o.doctor.firstname }}</a></td>
       <td> {{ o.appointment_date }}</td>
       <td> {{ o.location }}</td>
        <td>{{ o.status }}</td>
        {% if o.status == 'pending' %}
   <td> <a href={% url 'patient_cancel' o.id %}>  Cancel  </a></td>
        {% endif %}
        {% if o.status == 'completed' %}
    <td><a href={% url 'rating' o.id %}>  Rate   </a></td>
        {% endif %}
            <td> <a href={% url 'patient_appointment_details' o.id %}>Appointment Details</a></td>

    </tr>

    {% endfor %}

</table>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<br/>
<a href={%url 'home'%}>home page</a>
</body>
</html>