 <form method="get">
        {{ myfilter.form }}
     <button class="btn btn-primary" type="submit">Search</button>
    </form>
 <table>
    <thead>
        <th> Name </th>
        <th> Speciality </th>
        <th> Fees </th>
        <th> Location </th>
    </thead>
    {% for doctor in page_obj %}
    <tr>
        <td><a href={% url 'doctorprofile' doctor.user.id %}>{{doctor.user.firstname}}</a></td>

        <td>{{doctor.specility}}</td>

        <td>{{doctor.fees}}</td>

        <td>{{doctor.address}}</td>
        <td><a href={% url 'appointment' doctor.user.id %}>Book Appoitment</a></td>
    </tr>
    {% endfor %}
</table>
 <br/>
<a href={%url 'home'%}>home page</a>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>